@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans&family=VT323&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css");

html {
  height: 100vh;
  width: 100vw;
  margin:0;
  padding:0;
  overflow-x:hidden;
}

body{
  width: 100vw;
  height:100vh;
  margin:0;
  padding:0;
}


.system{
  overflow:hidden;
  display:flex;
  height:100%;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  background: url("man.png");
}


.system-text{
  transition:1s;
  font-family: 'Pixelify Sans', sans-serif;
  font-size: 100px;
  color:white;
  margin:0;
}

a:link { text-decoration: none; color:white; }


a:visited { text-decoration: none; color:white; }


a:hover { text-decoration: none; color:white; }


a:active { text-decoration: none; color:white; }

.sun{
  position: absolute;
  height:100px;
  width:100px;
}

.oreol{
  position: absolute;
  height:300px;
  width:300px;
}

.oreol2{
  position: absolute;
  height:700px;
  width:700px;
}

.rotate3 {
  position: absolute;
  height:500px;
  width:500px;
  animation: rotation 10s infinite linear;
}

.rotate2 {
  position: absolute;
  height:350px;
  width:350px;
  animation: rotation2 5s infinite linear;
}

.rotate {
  position: absolute;
  height:200px;
  width:200px;
  animation: rotation 2s infinite linear;
}


@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-359deg);
  }
}
@keyframes rotation2 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}